body {
    background-color: rgb(248,210,150);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    height: 20vh;
}
h1 {
    color:red;
    font-family: "Lucida Console", Monaco, monospace;
    font-variant: small-caps;
}
ul {
    list-style-type:none;
    padding: 15px;
    margin:0 auto;
}
.liDev, .liEat {
    border:black solid 2px;
    background-color: whitesmoke;
    margin: 5px;
    padding-bottom: 5px;
}
.liDev {
    padding-bottom: 25px;
    width:64%;
    display: inline-block;
}
.liDevBtn {
    width: 30%;
    border-radius: 10%;
}
.liEat {
    border-color:darkgray;
    color:darkgray;

}
#burgTextarea {
    width: 50vw;
    margin: 0 auto;
}  
#burgForm {
    margin: 0 auto;
}